/* Basic Color Palette for Website */

:root{
    --color-primary: #FFBF69;
    --color-secondary: #CBF3F0;

    --color-primary-dark:#FF9F1C;
    --color-secondary-dark: #2bbbb0;
    
    --color-white: #FFFFFF;
    --color-black: #000;
}

/* Group */

.group-name {
    color: black;
    text-decoration: none;
    margin: 0 auto !important;
}

a.group-name:hover {
    text-decoration: underline;
}

.group-info {
    color: black;
}

.create-group-title{
    text-align: center;
    letter-spacing: .1rem;
}

.group-creator {
    color: var(--color-black);
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: large;
    font-family: revert;

}

/* Create a Group */

.toggle-form-btn {
    background-color: var(--color-primary);
    font-size: 25px !important;
    height: 55px;
}

#create-group-form {
    margin:1rem auto;
    /* display: none; */
}

/* MISC */

.error-message {
    display: grid;
    place-items: center;
}

/* Input */
textarea.post-input, textarea.group-info, .group-name-input {
    width: 100% !important;
    outline: 0px !important;
    resize: none !important;
    background: transparent;
    padding: 2% !important;
    border-radius: 15px 50px !important;
    margin: auto !important;
    color: var(--color-black);
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.btn-style{
    display: flex !important;
    margin: auto;
    background-color: var(--color-primary)!important;
    color: var(--color-black) !important;
    border: 2px solid var(--color-black) !important;
}

.form-control{
    border: 3px solid var(--color-black) !important;
    background-color: var(--color-primary) !important;
}

#group-name::placeholder{
    color: var(--color-black) !important;
}

textarea{
    border: 3px solid var(--color-black) !important;
}

#align-left{
    text-align: left;
}

#form-style{
    margin-top: inherit !important;
}

#post-textarea{
    width: 100% !important;
    outline: 0px !important;
    resize: none !important;
    background: transparent;
    border: 0px !important;
    padding: 2% !important;
}