.container{
    color: black;
    background-color: var(--color-primary);
    border-radius: 15px 50px;
    border: 3px solid black;
}

.group-info{
    padding:1%;
    text-align: center;
}

img{
    border-radius: 50%;
    float: left;
    max-width: 100%;
}

.post-content{
    padding: 1%;
    font-family: 'Work Sans', sans-serif;
}

.date{
    float:right;
}