.container{
    background-color: var(--color-secondary) !important;
    color: black;
    border-radius: 15px 50px;
    border: 3px solid black;
    text-align: center;
}

.container a{
    margin-top: 1.55rem !important;
}

.group-info{
    padding:1%;
    text-align: center;
}

img{
    border-radius: 50%;
    max-width: 100%;
}

.post-content{
    padding: 1%;
    font-family: 'Work Sans', sans-serif;
}

.date{
    float: right;
    margin-right: 4%;
}

@media screen and (max-width:991px){
    img{
        width:40% !important;
    }
    .container{
        width:75% !important;
    }
}

@media screen and (max-width:425px){
    .container{
        font-size: 0.75rem;
    }
}