/* Basic Color Palette for Website */

:root{
    --color-primary: #FFBF69;
    --color-secondary: #CBF3F0;

    --color-primary-dark:#FF9F1C;
    --color-secondary-dark: #2bbbb0;
    
    --color-white: #FFFFFF;
    --color-black: #000;
}

/* Reset Styles for web browsers consistency  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

main{
    min-height: 100%;
}

body{
    background-color: var(--color-secondary-dark)!important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}

ul{
    margin-left: 3%;
}

.navbar{
    background-color: var(--color-primary-dark);
    padding: 2% !important;
    margin-bottom: 3%;
}

.nav-item{
    padding: 0 18px;
    font-size: 2.0rem;
}

.footer-content{
    padding: 2%;
    background-color: var(--color-primary-dark);
    text-align: center;
    position: absolute;
    width: 100%;
}

.navbar-brand{
    font-size: 3.0rem !important;
}

.not-following{
    font-size: 3rem;
    padding: 5%;
    text-align: center;
}

.btn-font-size{
    font-size: 2.0rem !important;
}

@media screen and (max-width:768px){
    .nav-item{
        font-size: 1.5rem;
    }
    .navbar-brand{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:425px){
    p{
        font-size: 1rem;
    }
    .btn-font-size{
        font-size: 1rem !important;
    }
}