/* Basic Color Palette for Website */

:root{
    --color-primary: #FFBF69;
    --color-secondary: #CBF3F0;

    --color-primary-dark:#FF9F1C;
    --color-secondary-dark: #2bbbb0;
    
    --color-white: #FFFFFF;
    --color-black: #000;
}

/* Reset Styles for web browsers consistency  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

main{
    min-height: 100%;
}

body{
    background-color: var(--color-secondary-dark)!important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
}

.navbar{
    background-color: var(--color-primary-dark);
}

.footer-content{
    padding: 5%;
    background-color: var(--color-primary-dark);
    text-align: center;
    position: absolute;
    width: 100%;
}