{% extends 'main.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/css/posts.css">
<link rel="stylesheet" href="/static/css/groups.css">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="group-name">{{ group.name }}</h2>
    <p class="group-info">{{ group.about }}</p>
    <p class="group-creator">by: {{ group.creator }}</p>
</div>

{% if error %}
<div class="error-message">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div>
            {{error}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}  

<div class="container mt-3">
    <form action="/post" method="post">
        <textarea id="post-textarea" class="post-input" name="content" rows="3" placeholder="What's on you mind today?" maxlength="300" required></textarea>
        <input type="hidden" name="group_name" value="{{group.name}}">
        <button type="submit" class="btn btn-style mt-3 mb-3">Add Post</button>
    </form>
</div>

<!-- <p>{{posts}}</p> -->

{% for post in posts%}
<div class="container mt-3">
    <div class="row">
        <div class="col-2 m-auto group-info">
            <img src="/static/img/Page-logo.png" alt="post-img">
            <p>{{ post.group }}</p>
        </div>
        <div id="align-left" class="col-md-10 post-content">
            <p class="date">{{ post.date }}</p>
            <h2>By {{ post.author }}</h2>
            <p>{{ post.content }}</p>
        </div>
    </div>
    {% if current_user != post.author and post.author not in following %}
    <form id="form-style" action="/follow" method="post">
        <input type="hidden" name="group" value="{{ post.group }}">
        <input type="hidden" name="user_to_be_followed" value="{{ post.author }}">
        <button type="submit" class="btn btn-style mb-3">Follow</button> 
    </form>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
